// Заголовки, загальні БЕМ блоки та інше...

.block-header {

  display: grid;
  gap: toRem(24);
  &--center{
    text-align: center;

  }
  &--inline {
    grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613 ));
    justify-content: space-between;
    align-items: end;
    @media (max-width:$tablet){
      grid-template-columns: auto;
    }
   
    
  }
  &__title {
    color: $darkColor;
    font-weight: 700;
    line-height: 1.23;
    transform: translate(0, 15%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    @include adaptiveValue("font-size", 53, 32);

    &--big {
      @include adaptiveValue("font-size", 64, 38);
    }
    &--white{
      color: #fff;
    }
   

    ._watcher-view &{
      transform: translate(0, 0);
      opacity: 1;
    }
    
  }
  
  &__text {
    transform: translate(0, 15%);
    opacity: 0;
    transition: transform 0.5s 0.3s, opacity 0.5s 0.3s;
    ._watcher-view &{
      transform: translate(0, 0);
      opacity: 1;
    }
    p {
      line-height: 1.55;
    }
    a {
      font-weight: 700;
      color: $bgColorLight;
      text-decoration: underline;
      @media (any-hover: hover){
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  @include adaptiveValue("gap", 24, 15);
}
 
// <div class="block-header">
//   <h2 class="block-header__title"></h2>
//   <div class="block-header__text">
//     <p></p>
//   </div>
// </div>

.text{
  line-height: 155.5%;
  p{
    &:not(:last-child){
      margin-bottom: toRem(15);
    }
  }
}

.done {
  display: flex;
  flex-wrap: wrap;
  column-gap: toRem(40);
  row-gap: toRem(5);
  &__item {
    color: $bgColorLight;
    padding-left: toRem(32);
    line-height: 1.3;
    font-size: toRem(20);
    background: url('@img/icons/check.svg') left toRem(1) no-repeat;
  }
}

