//====================================================================================================
.footer {
  background-color: $bgColorLight;
  color: #fff;
  &__container {
  }
  &__content {
    @include adaptiveValue("padding-top", 52, 40);
    @include adaptiveValue("padding-bottom", 74, 40);
  }
  &__subscribe {
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 54, 30);
    }
  }
  &__body {
    display: grid;
    grid-template-columns: auto auto;
    gap: toRem(30);
    justify-content: space-between;
    @media (max-width: $mobile){
      grid-template-columns: auto;
    }
  }
  &__info {
    max-width: toRem(460);
    display: grid;
    @include adaptiveValue("gap", 32, 20);
  }
  &__logo {
    
  }
  &__text {
   
  }
  &__social {
  }
  &__menu {
  }
  &__copy {
    border-top: toRem(1) solid rgba(255, 255, 255, 0.3);
    padding-top: toRem(32);
    padding-bottom: toRem(32);
    text-align: center;
  }
}
.subscribe {
  border-radius: toRem(24);
  background-color: #4ac9ff;
  padding: toRem(24);
  display: grid;
  align-items: center;
  grid-template-columns: auto toRem(516);
  gap: toRem(24);
  @media (max-width: $tablet){
    grid-template-columns: auto;
  }
  @media (max-width: $mobileSmall){
    margin: 0 toRem(-15);
    border-radius: 0;
    padding: toRem(15);
  }
	
  &__title {
    font-size: toRem(24);
    line-height: 133.3%;
    font-weight: 700;
    &:not(:last-child){
      margin-bottom: toRem(12);
    }
  }
  &__text {
  }
  &__form {
    border-radius: toRem(60);
    padding: toRem(12);
    background-color: #fff;
    display: flex;
    position: relative;
    @media (max-width: $mobileSmall){
      flex-direction: column;
      border-radius: toRem(10);
      overflow: hidden;
      gap: toRem(10);
    }
    .form__error{
      transform: translate(10%, -50%);
      background-color: $bgColor;
      border-radius: toRem(15);
      font-size: toRem(12);
      padding: toRem(8);
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
    }
  }
  &__input {
    height: toRem(50);
    flex:  1 1 auto;
    padding: 0 toRem(8);
    &._form-error{
      color: red;
      &::placeholder{
        color: red;
      }
      
    }
  }
  &__button {
    @media (max-width: $mobileSmall){
      width: 100%;
    }
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  column-gap: toRem(24);
  row-gap: toRem(3);
  &__item {
  }
  &__link {
  }
}
.menu-footer {
  &__spollers {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $mobileSmall){
      flex-direction: column;
    }
    @include adaptiveValue("gap", 130, 10);
  }
  &__block {
  }
  &__title {
    list-style: none;
    font-weight: 700;
    font-size: toRem(24);
    line-height: 133.3%;
    &::marker{
      display: none;
    }
    ._spoller-init & {
      position: relative;
      padding-right: toRem(30);
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: toRem(0);
        top: 50%;
        background-color: #fff;
        height: toRem(2);
        width: toRem(8);
        transition: transform 0.5s ease 0s;
      }
      &::before {
        transform: translate(-75%, -50%) rotate(40deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-40deg);
      }
      &._spoller-active {
        &::before {
          transform: translateX(-75%) rotate(-40deg);
        }
        &::after {
          transform: rotate(40deg);
        }
      }
    }
  }
  &__list {
    padding-top: toRem(24);
    display: grid;
    gap: toRem(12);
  }
  &__item {
  }
  &__link {
    font-size: toRem(20);
    line-height: 160%;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

//====================================================================================================
