//====================================================================================================
.hero {
  position: relative;
  display: grid;
  background-color: $bgColor;
  min-height: 100vh;
  padding:  toRem(80) toRem(15) toRem(60) toRem(15);
  @media (min-width: $tablet){
    grid-template-columns: auto 1fr auto;
    // &::before, &::after{
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   height: toRem(50);
    //   background-color: #fff;
    //   @include adaptiveValue("width", 470, 230, 0, $containerWidth, 991.98);
    // }
    // &::before{
    //   left: 0;
    //   border-radius: 0 toRem(50) 0 0;
    // }
    // &::after{
    //   right: 0;
    // }
  }
  

  @media (max-width: $tablet){
    padding:  toRem(80) toRem(15) toRem(30) toRem(15);
    
    
  }
 
  &__image-ibg {
    position: relative;
    border-radius: toRem(24);
    overflow: hidden;
    @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
    img {
     object-position: top;
   }
    @media (max-width: $tablet){
      display: none;
   }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(-35deg, #131f48 4.15%, rgba(19, 31, 75, 0.00) 43.25%);
    }
    &--right{
      &::after{
        background-image: linear-gradient(35deg, #131f48 4.15%, rgba(19, 31, 75, 0.00) 43.25%);
      }
    }

  }
  &__body {
    display: flex;
    flex-direction: column;
    row-gap: toRem(50);
    @include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
    @include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
  }
  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__main {
    display: grid;
    gap: toRem(24);
    &:not(:last-child) {margin-bottom: toRem(48);}
  }
  &__block-header {
    max-width: toRem(670);
   
  }

 
  &__done {
    justify-content: center;
    align-items: center;
  }
  
}

.items-hero{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: toRem(52);

  &__item{
    color: $greyColor;
    font-weight: 700;
    line-height: 1.4;
    position: relative;
    &:not(:last-child){
      &::after{
        content: '';
        position: absolute;
        right: toRem(-30);
        top: calc(50% - toRem(2));
        width: toRem(5);
        height: toRem(5);
        border-radius: 50%;
        background-color: $greyColor;
      }
    }
  }
}

.advantages-hero{
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(toRem(169), 1fr));
  row-gap: toRem(15);
  @include adaptiveValue("gap", 64, 20);
 
  &__item{
    display: flex;
    align-items: center;
    gap: toRem(16);
    position: relative;
     @media (min-width: em(1920)){
      &:not(:last-child){
        &::after{
          content: '';
          position: absolute;
         
          top: 0;
          height: 100%;
          width: toRem(1);
          background: linear-gradient(0deg, rgba(20, 34, 87, 0) 0%, rgba(79, 102, 183, 1) 50%, rgba(20, 34, 87, 0) 100%);
          @include adaptiveValue("right", -32, -20);
        } 
      }
    }
    
  }
  &__icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex: 0 0 toRem(48);
    height: toRem(48);
    padding: toRem(5);
    background-color: $bgColorSemi;
    img{
      max-width: 100%;
    }
    
  }
  &__text{
    color: #fff;
    font-weight: 600;
    line-height: 1.33;

  }
}


.decor-hero{
  @media (max-width: $tablet){
    display: none;
  }


  &__item{
    position: absolute;
    bottom: 0;
    height: toRem(50);
    background-color: #fff;
    
    &:first-child{
      left: 0;
      border-radius: 0 toRem(10) 0 0;
      &::after{
        content:'';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        transform: translate(calc(100% - toRem(6)), toRem(0.5));
        border-top: toRem(50) solid transparent;
        border-left: toRem(70) solid #fff;
        border-bottom: 0px solid transparent;
      }
    }
    &:last-child{
      border-radius:  toRem(10) 0 0 0;
      right: 0;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        transform: translate(calc(-100%  + toRem(6)), toRem(0.5));
        border-top: toRem(50) solid transparent;
        border-right: toRem(70) solid #fff;
        border-bottom: 0px solid transparent;
      }
    }
    
    @include adaptiveValue("width", 420, 200, 0, $containerWidth, 991.98);
  }
}
//====================================================================================================

.about {
  @include adaptiveValue("padding-top", 123, 40);
  @include adaptiveValue("padding-bottom", 64, 40);
  &__container {
    row-gap: toRem(30);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media(max-width: $tablet){
      grid-template-columns: auto;
    }
  }
  &__body {
    
    @media (min-width: $tablet){
      padding-right: toRem(20);
      max-width: toRem(580);
    }
    @include adaptiveValue("padding-top", 100, 30, 2, $containerWidth, 991.98);
  }
  &__block-header {
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 54, 30);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:not(:last-child){
      @include adaptiveValue("margin-bottom",56 ,30 );

    }
    @media(max-width: em(540)){
      grid-template-columns: auto;
    }


    @include adaptiveValue("gap", 32, 15);
  }
  &__item {
    background: url("@img/icons/services-check.svg") 0 toRem(10) no-repeat;
    padding-left: toRem(28);
    font-size: toRem(20);
    font-weight: 700;
    color: $bgColorSemi;
    line-height: 140%;

    opacity: 0;
    transform: translate(0px, 15%);
    transition: opacity 0.5s, transform 0.5s;
    
    ._watcher-view &{
      opacity: 1;
      transform: translate(0,0);
      @for $i from 1 through 6{
        &:nth-child(#{$i}){
          $startDelay: 0.5;
          $delay: $i * 0.15 + $startDelay;
          transition-delay: #{$delay}s;
        }
      }
    }
    
  }
  &__info {
    
    border-radius: toRem(24);
    background-color: $bgColorLight;
    padding: toRem(12) toRem(32);
    color: #fff;
    line-height: 155.5%;
    @media(min-width: $tablet){
      max-width: toRem(450);
    }
    a{
      white-space: nowrap;
      font-size: toRem(20);
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &__image{
    text-align: center;
    img{
      max-width: 100%;
    }
  }
}

//====================================================================================================
.services {
  
 
  &__block-header {
    max-width: toRem(560);
    margin: 0 auto;
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  &__items {
    display: grid;
    grid-template-columns: auto;
    @media (min-width: $mobileSmall){
      grid-template-columns: repeat(auto-fit, minmax(toRem(320), 1fr));
    }
    @media (max-width: $mobileSmall){
      row-gap: toRem(20);
    }
    
  }
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 140, 40);
}


.item-service {
  border-radius: toRem(24);
  @media (max-width: $mobileSmall){
    text-align: center;
  }
  &--blue{
    color: #fff;
    text-align: center;
    background-color: $bgColorLight;
    @media (max-width: $mobileSmall){
      padding: toRem(20);
    }
    .item-service__title{
      color: inherit;
    }
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: toRem(64);
    height: toRem(64);
    border-radius: toRem(20);
    background-color: $bgColor;
    img {
      max-width: 100%
    }
    &:not(:last-child){
      margin-bottom: toRem(16);
    }
  }
  &__title {
    color: $darkColor;
    font-size: toRem(24);
    font-weight: 700;
    line-height: 133.3%;
    &:not(:last-child){
      margin-bottom: toRem(12);
    }
  }
  &__text {
    line-height: 155.5%;
    &:not(:last-child){
      margin-bottom: toRem(32);
    }
  }
  
  @media (min-width: $mobileSmall){
    @include adaptiveValue("padding", 32, 15);
  }
  
  
  
}



//====================================================================================================
.advantages {
  &__body{
    position: relative;
    
    background-color: $bgColor;
    @media (min-width:$tablet){
      padding-left: toRem(70);
      padding-right: toRem(70);
      border-radius: toRem(24);
      &::before,
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        width: toRem(45);
        height: 73%;
        max-height: toRem(645);
        transform: translate(0px, -50%);
        background: url("@img/advantages/decoration.svg") left / auto 100% no-repeat;
      }
      &::before{
        left: 0;
      }
      &::after{
        right: 0;
        transform: translate(0px, -50%) rotate(180deg);
        
      }
    }
    
    @include adaptiveValue("padding-top", 64, 40);
    @include adaptiveValue("padding-bottom", 64, 40);
  }
  
  &__block-header {
    position: relative;
    &::after{
      content: '';
      position: absolute;
      height:  toRem(1);
      width: 100%;
      background: linear-gradient(90deg, rgba(20, 34, 87, 0) 0%, rgba(79, 102, 183, 1) 50%, rgba(20, 34, 87, 0) 100%);
      left: 0;
      @include adaptiveValue("bottom", 60,15);
    }
    @include adaptiveValue("padding-bottom", 120,30);
  }
  &__items {
    display: grid;
    column-gap: toRem(20);
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    @media (max-width:$tablet){
      grid-template-columns: auto;
    }
    @include adaptiveValue("row-gap", 60, 25);
  }
  &__item {
    max-width: toRem(630);
  }
  @include adaptiveValue("padding-left", 60, 15, 2, $containerWidth, 991.98);
  @include adaptiveValue("padding-right", 60, 15, 2, $containerWidth, 991.98);
}
.item-advantages {
  display: flex;
  
  &__icon {
    flex: 0 0 toRem(100);
    height: toRem(100);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }
  &__body {
  }
  &__title {
    font-weight: 700;
    font-size: toRem(24);
    line-height: 133.3%;
    color: #fff;
    &:not(:last-child){
      margin-bottom: toRem(12);
    }
  }
  &__text {
    line-height: 155.5%;
  }
  @include adaptiveValue("gap", 32, 15);
}

//====================================================================================================

.how {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: $tablet){
      grid-template-columns: auto;
      gap: toRem(30);
    }
  }
  &__image {
    img{
      transform: translate(-10%, 0);
      max-width: 100%;
    }
    @media (max-width: $tablet){
      order: 2;
      text-align: center;
      img{
        transform: translate(0,0);
      }
    }
  }
  &__content {
    @media (max-width: $tablet){
      order: 1;
    }
  }
  &__block-header {
    max-width: toRem(400);
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  &__list {
  }
  @include adaptiveValue("padding-top", 155, 30);
  @include adaptiveValue("padding-bottom", 155, 30);
}

.list-how {
  @extend %listCounter;
  display: grid;

  &__item {
    
    display: grid;
    grid-template-columns: toRem(170) auto;
    gap: toRem(35);
    &::before{
      color: $greyColor;
      font-weight: 700;
      @include adaptiveValue("font-size", 52, 30);
    }
    @media (max-width: $tablet){
      gap: toRem(5);
      grid-template-columns: auto;
      
    }
    @include adaptiveValue("padding-left", 70, 40);
  }
  &__title {
    color: $darkColor;
    font-weight: 700;
    line-height: 133.3%;
    @include adaptiveValue("font-size", 24, 18);

  }
  &__text {

  }
  @include adaptiveValue("gap", 50, 20);
}

//====================================================================================================

.reviews {
  &__container {
    max-width: toRem(1160);
    
  }
  &__body {
    position: relative;
    
    @media (min-width: 600){
      padding: 0 toRem(72);
    }
  }
  &__block-header {
    max-width: toRem(650);
    margin: 0 auto;
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 90, 30);
    }
  }
  &__slider {
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 106, 30);
    }
    
  }
  &__wrapper {
  }
  &__slide {
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width: toRem(48);
    height: toRem(48);
    border-radius: 50%;
    background: $bgColorLight url('@img/icons/reviews-arrow.svg') center no-repeat;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
      transform: translate(0px, -50%) rotate(-180deg);
    }
    &.swiper-button-disabled{
     background: #e3e6f0 url('@img/icons/reviews-arrow.svg') center no-repeat; 
     pointer-events: none;
     cursor: default;
    }
    @media (max-width: 600px){
      display: none;
    }
  }
  &__bullets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: toRem(12);
    row-gap: toRem(3);
    .swiper-pagination-bullet{
      flex: 0 0 toRem(12);
      height: toRem(12);
      border-radius: toRem(10);
      background-color: #e3e6f0;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active{
      background-color: $bgColorLight;
      flex: 0 0 toRem(40);
    }
  }
	@include adaptiveValue("padding-top", 130, 40);
  @include adaptiveValue("padding-bottom", 130, 40);
}


.slide-reviews {
  text-align: center;
  &__logo {
    position: relative;
    text-align: center;
    padding-bottom: toRem(25);
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 40, 25);
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, rgba(20, 34, 87, 0) 0%, $greyColor 50%, rgba(20, 34, 87, 0) 100%);
    }
  }
  &__text {
    display: inline-block;
    max-width: toRem(730);
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 40, 20);
    }
  }
  // &__user {
  //   text-align: left;
  //   display: inline-flex;
  //   gap: toRem(32);
  // }
  // &__avatar {
  //   flex: 0 0 toRem(76);
  //   height: toRem(76);
  //   border-radius: 50%;
  //   img {
  //     max-width: 100%;
  //   }
  // }
  &__body {
  }
  // &__name {
  //   font-weight: 700;
  //   line-height: 133.3%;
  //   color: $darkColor;
  //   &:not(:last-child){
  //     margin-bottom: toRem(8);
  //   }
    
   
  //   @include adaptiveValue("font-size", 24, 18);
  // }
  // &__rating {
  //   .rating__value{
  //     display: none;
  //   }
  // }
}

//====================================================================================================

.blog {
  &__container {
    display: grid;
  }
  &__block-header {
    max-width: toRem(690);
    margin: 0 auto;
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 56, 25);
    }
  }
  &__items {
    display: grid;
    gap: toRem(48);
    grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
    @media (max-width: $mobileSmall){
      grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
    }
    &:not(:last-child){
      @include adaptiveValue("margin-bottom", 56, 20);
    }
  }
  
  &__view-more {
    justify-self: center;
    color: $bgColorLight;
    line-height: 133.3%;
    font-weight: 700;
    background: url('@img/icons/more.svg') right no-repeat;
    padding-right: toRem(24);
    @media (any-hover: hover){
      &:hover {
        text-decoration: underline;
      }
    }
    @include adaptiveValue("font-size", 24, 18);
  }
  @include adaptiveValue("padding-top", 84, 20);
  @include adaptiveValue("padding-bottom", 84, 40);
}

.item-blog {
  display: grid;
  &__image-ibg {
    aspect-ratio: 444 / 300;
    border-radius: toRem(24);
    overflow: hidden;
    img{
      transition: all 0.5s;
    }
    &:not(:last-child){
     margin-bottom: toRem(24);
    }
    @media (any-hover: hover){
      &:hover{
        img {
          transform: scale(1.05);
        }
      }
    }
  }
  &__date {
    line-height: 155.5%;
    &:not(:last-child){
     margin-bottom: toRem(16);
    }
  }
  &__title {
    
    &:not(:last-child){
     margin-bottom: toRem(16);
    }
  }
  &__link-title {
    color: $darkColor;
    line-height: 125%;
    font-weight: 700;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
    @include adaptiveValue("font-size", 32, 28);
    
  }
  &__text {
    &:not(:last-child){
      margin-bottom: toRem(24);
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(12);
    row-gap: toRem(3);
  }
  &__tag {
    background: #f3f5f9;
    padding: toRem(8) toRem(16);
    color: #545971;
    font-size: toRem(14);
    line-height: 142.8%;
    font-weight: 600;
    border-radius: toRem(30);
    transition: all 0.3s;
    @media (any-hover: hover){
      &:hover{
        background-color: $bgColorLight;
        color: #fff;
      }
    }
  }
}

//====================================================================================================

.questions {
  &__container {
    display: grid;
    grid-template-columns: auto 57%;
    gap: toRem(20);
    align-items: start;
    column-gap: toRem(20);
    row-gap: toRem(30);
    @media(max-width: $tablet){
      grid-template-columns: auto;
    }
  }
  @include adaptiveValue("padding-top", 190, 40);
  @include adaptiveValue("padding-bottom", 230, 40);
}

.spollers-questions {
  display: grid;
  gap: toRem(12);
  
  &__item {
    border-radius: toRem(12);
    padding: toRem(24) toRem(32);
    transition: background-color 0.5s;
    &[open]{
      background-color: #f3f5f9;
      
    }
    @media (max-width: $mobileSmall){
      padding: toRem(15) toRem(24);
    }
  }
  &__title {
    line-height: 120%;
    padding-right: toRem(30);
    transition: all 0.5s;
    list-style: none;
    font-weight: 700;
    &::marker{
      display: none;
    }
    ._spoller-init & {
      position: relative;
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: toRem(0);
        top: 50%;
        background-color: #000;
        height: toRem(2);
        width: toRem(12);
        transition: transform 0.5s ease 0s;
      }
      &::before {
        transform: translate(-75%, -50%) rotate(40deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-40deg);
      }
      &._spoller-active {
        &::before {
          transform: translateX(-75%) rotate(-40deg);
        }
        &::after {
          transform: rotate(40deg);
        }
      }
    }
    @include adaptiveValue("font-size", 24, 18);
  }
  &__body {
    padding-top: toRem(16);
    font-size: toRem(16);
    line-height: 150%;
  }
  

}


//====================================================================================================


.talk {
  background-color: $bgColor;
  position: relative;
  &__container {
    
    @media (min-width: $tablet){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include adaptiveValue("gap", 100, 30);
    }
    
  }
  &__content {
    position: relative;
    z-index: 2;
    &::before{
      content: '';
      background: url('@img/talk/decor.svg') 0 0 / 83% no-repeat;
      width: 100%;
      aspect-ratio: 581 / 44;
      position: absolute;
      left: 0;
      top: 0;
    }
    @include adaptiveValue("padding-top", 165, 40);
    @include adaptiveValue("padding-bottom", 105, 40);
  }
  &__block-header {
    &:not(:last-child){
      margin-bottom: toRem(16);
    }
  }
  &__done {
    &:not(:last-child){
      margin-bottom: toRem(24);
    }
  }
  &__image {
    img {
      max-width: 100%;
    }
    @media (min-width: $tablet){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%; 
      img {
        grid-column: 2 / 3;
        justify-self: end;
        
      }
      @include adaptiveValue("gap", 100, 30);
    }
   
  }
}


